<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Insert user</title>
</head>
<body>
<h1>Insert a new user into the database </h1>
<form action="/add" method="POST">

    Id : <input type="text" name="id" style=position:absolute;left:12%;/ ><br><br>
    First name : <input type="text" name="firstName" style=position:absolute;left:12%; /><br><br>
    Last name : <input type="text" name="lastName" style=position:absolute;left:12%;/><br><br>
    Salary : <input type="text" name="salary" style=position:absolute;left:12%;/><br><br>
    Date of birth : <input type="text" name="dateOfBirth" style=position:absolute;left:12%;/><br><br>


    <input type="submit" name="add" value="Add"/>


</form>
</body>
</html>
